.container {

	@extend %clearfix;

	margin: 0 auto;
	position: relative;

}

.row {

	@extend %clearfix;

	margin: 0 -15px;
	
}

.btn {

	@include transition(all .1s ease-in-out);
	
	@extend %appearance__none;
	@extend %select--none;

	font-size: 1em;
	height: 3.125em;
	line-height: 2.875;
	display: inline-block;
	padding: 0 2em;
	border-radius: 3px;
	font-weight: 500;
	position: relative;
	white-space: nowrap;
	vertical-align: baseline;
	text-align: center;
	margin: 0;
	border: 2px solid transparent;

	&-white {

		background-color: #fff;
		border-color: #fff;
		color: #3c5460;
		opacity: .88;

		&:hover {

			opacity: 1;

		}

		&:active {

			/*box-shadow: 0 0 0 3px #fff;*/
			-webkit-transform: scale(0.95);
			-moz-transform: scale(0.95);
			-ms-transform: scale(0.95);
			-o-transform: scale(0.95);
			transform: scale(0.95);

		}

	}

	&__ghost {

		&--green {

			transition: color 200ms 0s ease, padding 200ms 0s ease, border 200ms 0s ease, background-color 200ms 0s ease;
			background-color: #fff;
			border-color: $color__green;
			color: $color__green;

			&:hover {

				background-color: $color__green;
				color: #fff;
			}

		}

	}

}

.flash {

	background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(248,248,248,0)),color-stop(100%,rgba(248,248,248,1)));
	height: 54px;
	position: absolute;
	right: 0;
	top: 0;
	width: 24px;
	z-index: 2;
	pointer-events: none;
}

.header {

	@media screen and (min-width: 768px) {

		& {

			min-height: 70px;

		}

	}

	@extend %clearfix;

	width: 100%;
	position: relative;
	min-height: 50px;
	box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.08);

	&__logo {

		@media screen and (min-width: 768px) {
			& {
				background-position: 0 -50px;
				height: 70px;
				width: 132px;
			}
		}

		@extend %fl;
		
		width: 57px;
		height: 50px;
		background-image: url(../img/header__logo.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		overflow: hidden;
		text-indent: 100%;
		position: relative;

		&:active {

			top: 1px;

		}

	}

	& .navbar {

		@media screen and (min-width: 768px) {

			& {

				width: auto;

			}

		}

		@media screen and (max-width: 767px) {

			&>.navbar__list:last-child {
				display: none;
			}

		}

		@extend %select--none;

		display: inline-block;
		overflow-x: auto;
		overflow-y: hidden;
		text-align: center;
		white-space: nowrap;
		width: 100%;

		@extend %fr;

		&--item {

			&.action {
				color: $color__green;
			}
		}

	}

	& a {

		text-decoration: none;

	}

	& .btn.btn__ghost--green {

		@media screen and (min-width: 768px) {
			& {
				display: none;
			}
		}

		@extend %fr;
		font-size: .875rem;
		height: 2.125rem;
		line-height: 1.875rem;
		padding: 0 .75rem;
		margin: .5rem 1rem 0 0;

	}

}

.nav {

	@extend %clearfix;

	margin: 0;
	padding: 0;
	list-style: none;

	&bar {

		&__list {

			@media screen and (min-width: 768px) {

				& {

					line-height: 70px;

				}

			}

			line-height: 50px;
			font-size: 1rem;
			font-weight: 500;
			color: $color__black-80;
			position: relative;
			float: none;
			display: inline-block;

			&:hover .navbar--item {
				color: $color__black;
			}

			&:active {

				@extend .header__logo:active;

			}

		}

		&--item {

			@media screen and (min-width: 768px) {

				& {

					font-size: 1rem;
					text-transform: none;

				}

			}

			color: inherit;
			display: block;
			font-size: .75rem;
			font-weight: inherit;
			padding: 0 1em;
			text-transform: uppercase;

		}

		
	}
}

.cover {

	text-align: center;
	padding: 2rem 0;
	margin: 0;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	transition: padding 270ms ease;

	& a {
		text-decoration: none;
	}

	&-post {

		@media screen and (min-width: 768px) {

			& {
				padding: 6.25rem 0 3.75rem;
			}

		}

		&-title {
			font-size: 2.875rem;
			color: #fff;
			font-weight: 500;
			max-width: 800px;
			margin: 0 auto;

			@media screen and (max-width: 767px) {
				& {
					font-size: 1.875rem;
				}
			}
		}


	}

	&-development {

		&:before {
			content: "";
			background-color: rgba(16,22,19,0.50);
			bottom: 0;
			height: 100%;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			transition: background-color 230ms ease-in-out;
			width: 100%;
			z-index: 1;
		}

		&:after {
			background-image: url(../img/icons/trame.svg);
			background-repeat: repeat;
			bottom: 0;
			content: "";
			height: 100%;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			opacity: .8;
			z-index: 2;
		}

		& .container {
			z-index: 3;
		}
	}

	&-title {
		color: inherit;
		display: block;
		margin: 1rem 1rem 1.4375rem;
		line-height: 1.35;

	}

	@media screen and (min-width: 768px) {
		margin-bottom: 1.25rem;
	}

	& .card-circles {
		& img {
			width: 70px;
			height: 70px;
		}

	}
}

.page-container {

	margin: 1.875rem 0;
	position: relative;
}

.col {

	&-4 {

		@media screen and (min-width: 600px) {
			width: 50%;
		}

		@media screen and (min-width: 1130px) {
			width: 33.3333333%;
		}

		width: 100%;
		float: left;

	}

}

/*Card HEre*/

.footer {

	@extend %clearfix;
	@extend %select--none;
	margin-top: 1.25rem;
	width: 100%;
	color: #b1bbc2;

	& .footer-link {
		-webkit-transition: all 90ms;
		-o-transition: all 90ms;
		transition: all 90ms;
	}

	&:hover .footer-item:not(:last-child) {
		color: rgba(64, 128, 255, 0.88);
	}

	& .footer-list {
		border-top: 1px solid #e8ebed;
	}

	&-link {

		color: inherit;
		display: block;
		padding: 3px 7px 5px;
		text-decoration: none;
		border-radius: 3px;

		&:hover {
			text-decoration: underline;
		}

	}

	&-list {
		padding: .9375rem;
		text-align: center;
	}

	&-item {

		@media screen and (min-width: 768px) {
			float: left;
		}

		display: inline-block;
		float: none;

		font-size: 0.875rem;
		margin-right: .625rem;
		color: #b1bbc2;

		&:last-child {

			@media screen and (min-width: 768px) {
				width: auto;
				float: right;
			}

			float: none;
			width: 100%;
			margin-right: 0;
			margin-top: 3px;
		}

	}

}

.medium {

	@media screen and (min-width: 1130px) {
		display: block;
	}

	@media screen and (max-width: 600px) {
		display: block;
	}

	display: none;
}









.prom {
	@extend %clearfix;
	margin: 1.25em 0;
	box-shadow: 0 20px 20px rgba(0,0,0,.08);
	-webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	-moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	background-color: #fff;
	position: relative;
	color: #90949c;
	@media screen and (min-width: 600px) { & { margin: 1.25em 1.25rem; }}
	&:hover {
		box-shadow: 0 40px 40px rgba(0,0,0,.16);
		transform: translate(0,-20px);
		transition-delay: 0s !important;
		&:before {
			content: "";
			position: absolute;
			top: 100%;
			width: 100%;
			height: 20px;
		}
	}

	&link {
		@extend %fl;
		width: 100%;
		display: block;
	}

	&-here {
		@extend %clearfix;
		width: 100%;
		display: block;
	}
}

.card {
	margin: 1.25rem;
	width: 100%;
	vertical-align: top;
	display: inline-block;
	position: relative;
	background-color: #930;
	box-shadow: 0 20px 20px rgba(0,0,0,.08);
	white-space: normal;
	-webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	-moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	color: #3c5460;

	&-body {
		padding: 1.25rem 1.25rem 0 1.25rem;
		overflow: visible;
		width: 100%;
		float: left;
	}

	&-prom {
		@extend %fl;
		padding: 1.25em 1.25rem 0;
		width: 100%;
		color: $color__black;
	}

	&-circle {
		@extend %clearfix;
		width: 50px;
		height: 50px;
		margin-bottom: .75rem;
		float: left;
		border-radius: 50%;
	}

	&-circles {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}

		&-img {
			border-radius: 50%;
			display: block;
			overflow: hidden;
		}
	}

	&-name {
		margin: 17px 0 0 66px;
		font-weight: 400;
		font-size: 1.125rem;
	}

	&-title {
		font-size: 1.25rem;
		clear: both;
	}

	&-article {
		font-size: 1rem;
		margin: .5625rem 0 0 0;
		color: #90949C;
	}

	&-hero {
		@extend %fl;
		padding: 1.25em 1.25rem 0;
		width: 100%;

		&_img {
			@extend %fl;
			width: 100%;
		}

	}

	&-footer {
		@extend %fl;
		font-size: .6875rem;
		text-transform: uppercase;
		padding: .625em 1.25rem 0;
		width: 100%;

		&--wrapper {
			border-top: 1px solid #e9ebee;
			height: 36px;
			line-height: 36px;
		}
	}

	&-tag {
		@extend %card-tag;
		color: #90949C;
	}

	&-type {
		@extend %card-tag;
		color: #3c5460;
	}

	&-time {
		@extend %fr;
	}

	&-show {
		display: none;
	}

	&-author {
		display: inline-block;
	}

}

.prom {
	&:hover {

		& .card-hide {
			display: none;
		}

		& .card-show {
			display: block;
		}
	}
}

.cover-blog {

	@media screen and (min-width: 768px){
		padding: 23rem 0 2.625rem;
	}
}

.section {

	&__halfcolumn {
		margin: 0 auto;
		max-width: 740px;
		padding-left: 20px;
		padding-right: 20px;
		width: 100%;

		& a {
			color: cornflowerblue;
			&:hover {
				color: deeppink;
			}
			/*&:visited {
				color: darkorchid;
				&:hover {
					color: deeppink;
				}
				}*/
			}

			& > h1, h2, h3, h4, h5, h6 {
				font-weight: 500;
			}

			& > p {
				@media screen and (min-width: 768px) {
					font-size: 20px;
				}
				font-size: 18px;
				line-height: 1.6;
			}
		}

		&__fullcolumn {
			margin-bottom: 80px;
			margin-top: 80px;
			position: relative;
			width: 100%;
			& img {
				display: block;
				width: 100%;
			}
		}

		&__author {
			-webkit-transition: all 230ms;
			-o-transition: all 230ms;
			transition: all 230ms;
			position: absolute;
			margin: 0 0 0 -112px;
			&:hover {
				text-decoration: none;
			}
			&--image {
				width: 70px;
				border-radius: 50%;
				height: 70px;
			}
			&--name {
				-webkit-transition: all 100ms;
				-o-transition: all 100ms;
				transition: all 100ms;
				color: $color__black;
				font-weight: 500;
				text-align: center;
			}
		}
	}

	.imagecaption {
		max-width: 1000px;
		margin: 10px auto 0;
		text-align: center;
		display: block;
		color: #90949C;
	}

	.action {
		position: relative;

		& .prom {
			& .card-circles {
				float: left;
				margin-bottom: .75rem;
				& img {
					width: 50px;
					height: 50px;
				}
			}
		}
	}

	.bloger {

		& .cover-post-title {

			@media screen and (max-width: 767px) {
				text-align: left;
				margin: 0 1.25rem;
			}
		}
	}