.container {

	@extend %clearfix;

	margin: 0 auto;
	position: relative;

}

.row {

	@extend %clearfix;

	margin: 0 -15px;
	
}

.btn {

	@include transition(color .3s ease, background-color .3s ease, border-color .3s ease, width .3s ease, opacity .3s ease);
	
	@extend %appearance__none;
	@extend %select__none;

	font-size: 1em;
	height: 3.125em;
	line-height: 3.125;
	display: inline-block;
	padding: 0 2em;
	border-radius: 3px;
	font-weight: 500;
	position: relative;
	white-space: nowrap;
	vertical-align: baseline;
	text-align: center;
	margin: 0;
	border: 2px solid transparent;

	&-white {

		background-color: #fff;
		border-color: #fff;
		color: #3c5460;
		opacity: .88;

		&:hover {

			opacity: 1;

		}

		&:active {

			@extend .header__logo:active;

		}

	}

	&__ghost {

		&--green {

			transition: color 200ms 0s ease, padding 200ms 0s ease, border 200ms 0s ease, background-color 200ms 0s ease;
			background-color: #fff;
			border-color: $color__green;
			color: $color__green;

			&:hover {

				background-color: $color__green;
				color: #fff;
			}

		}

	}

}

.flash {

	background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(248,248,248,0)),color-stop(100%,rgba(248,248,248,1)));
	height: 54px;
	position: absolute;
	right: 0;
	top: 0;
	width: 24px;
	z-index: 2;
	pointer-events: none;
}

.header {

	@media screen and (min-width: 768px) {

		& {

			min-height: 70px;

		}

	}

	@extend %clearfix;

	width: 100%;
	position: relative;
	min-height: 50px;
	box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.08);
	position: relative;

	&__logo {

		@media screen and (min-width: 768px) {
			& {
				background-position: 0 -50px;
				height: 70px;
				width: 132px;
			}
		}

		@extend %fl;
		
		width: 57px;
		height: 50px;
		background-image: url(../img/header__logo.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		overflow: hidden;
		text-indent: 100%;
		position: relative;

		&:active {

			top: 1px;

		}

	}

	& .navbar {

		@media screen and (min-width: 768px) {

			& {

				width: auto;

			}

		}

		@media screen and (max-width: 767px) {

			&>.navbar__list:last-child {
				display: none;
			}

		}

		display: inline-block;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
		width: 100%;

		@extend %fr;

		&--item {

			&.action {
				color: $color__green;
			}
		}

	}

	& a {

		text-decoration: none;

	}

	& .btn.btn__ghost--green {

		@media screen and (min-width: 768px) {
			& {
				display: none;
			}
		}

		float: right;
		font-size: .875rem;
		height: 2.125rem;
		line-height: 1.875rem;
		padding: 0 .75rem;
		margin: .5rem 1rem 0 0;

	}

}

.nav {

	margin: 0;
	padding: 0;
	list-style: none;

	&bar {

		&__list {

			@media screen and (min-width: 768px) {

				& {

					line-height: 70px;

				}

			}

			float: left;

			line-height: 50px;
			font-size: 1rem;
			font-weight: 500;
			color: $color__black-80;
			position: relative;
			float: none;
			display: inline-block;

			&:hover .navbar--item {
				color: $color__black;
			}

			&:active {

				@extend .header__logo:active;

			}

		}

		&--item {

			@media screen and (min-width: 768px) {

				& {

					font-size: 1rem;
					text-transform: none;

				}

			}

			@extend %fl;

			color: inherit;
			font-size: .75rem;
			text-transform: uppercase;
			font-weight: inherit;
			padding: 0 1em;

		}

		
	}
}

.cover {

	&-post {

		text-align: center;
		padding: 8.375rem 0;
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(109, 193, 160, .8);
			transition: background-color 230ms ease-in-out;
		}

		& a {
			text-decoration: none;
		}

		& h1 {

			& a {
				color: #fff;
				font-weight: 400;
				display: block;
				margin: 0 1rem .8125rem;
			}

		}

	}

	&-development {

		& h1 {

			&:before {

				content: "";
				background-image: url(../img/icons/java.png);
				display: block;
				background-repeat: no-repeat;
				background-size: 64px;
				width: 100%;
				height: 84px;
				background-position: 50%;

			}
		}
	}
}

body {
	height: 5000px;
	background-color: #fff;
}