
/* ClearFix */

%clearfix {

	&::before, &::after {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}
}

/* NONE text-decoration */

%text-decoration-none {
	text-decoration: none;
}

/* Extend color BLACK */

%black-color {
	color: $black;
}

/* Select none */

%select-none {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}