.hero {
	@extend %select-none;
	margin-bottom: 2rem;
	background-color: #dfe3e4;

	&-title {
		font-size: 1.625rem;
		margin-bottom: 2.5rem;
	}
	& .pages {
		&-support {
			&-faq {
				&-title {
					font-size: 1.125rem;
				}
			}
		}
	}
}


.pages {
	/* pages-suport */
	&-support { 
		/* pages-suport-hero */
		&-hero {
			padding-top: 1rem;
			padding-bottom: 1rem;
			/* pages-support-hero-cta */
			&-cta {
				margin-bottom: 2.5rem;
			}

		}
		/* pages-support-faq */
		&-faq {
			/* pages-support-faq-title */
			&-title {
				font-size: .875rem;
				margin-bottom: .625rem;
				line-height: 1.5;
			}
			/* pages-support-description */
			&-description {
				margin-bottom: 1.25rem;
				line-height: 1.5;
				font-size: .875rem;
				color: #40484a;
				/* pages-support-description:last-child */
				&:last-child {
					margin-bottom: 0;
				}

			}
			/* pages-support-faq-heading */
			&-heading {
				font-size: 18px;
				margin: 70px 0 20px;
			}
			/* pages-support-faq-section */
			&-section {
				/* pages-support-faq-section-heading */
				&-heading {
					font-size: 26px;
					margin: 0 0 35px;
				}
			}

		}
		/* pages-support-section */
		&-section {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}

	}

}

.col {
	/* col-50 */
	&-50 {
		padding: 0 1rem;
	}

}

.box {
	background-color: #fff;
	box-shadow: 0 2px 0 rgba(0,0,0,.06);
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 4px;
}

/*.hero .pages-support-faq-title {
	font-size: 1.125rem;
}*/