
*,
*:before,
*:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
/**
 * Body customize.
 */
 body {
 	background-color: $bg-body-grey;
 	color: $color-black;
 	font-family: $font-helvetica;
 	line-height: 1.4;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
 	/*line-height: 1.3;*/
 	font-weight: 500;
 	margin: 0;
 	text-rendering: optimizeLegibility;
 }

 p {
 	margin: 0;
 }

 a {
 	color: #3f8abf;
 	text-decoration: none;
 	@include transition(color 300ms 0s ease);

 	&:hover {
 		color: #326e99;
 	}
 }