
/* Min 768px */

@media screen and (min-width: 768px) {

	.container {
		width: 750px;
	}

	.preview.x150 {

		width: 100%;
		margin: 0;

	}

	.col-sm {

		&-4 {
			width: 33.33333333%;
		}

		&-6 {
			width: 50%;
		}

	}

	.footer {
		&-copyright {
			margin-bottom: 0;
		}
	}

}

/* Min 768px and Max 991px */

@media screen and (min-width: 768px) and (max-width: 991px) {

	.card-list .card:nth-child(2n+1) {
		clear: left;
	}

}

/* Min 992px */

@media screen and (min-width: 992px) {

	.container {
		width: 970px;
	}

	.col-md {

		&-4 {
			width: 33.33333333%;
		}
	}

	.card-list .card:nth-child(3n+1) {
		clear: left;
	}

}

/* Min 1200px */

@media screen and (min-width: 1200px) {

	.container {
		width: 1170px;
	}

}