
@mixin button {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	float: left;
	margin-left: 5%;
}

.search-button {
	@include button();
	background-color: #930;
}

.cancel-button {
	@include button;
	background-color: #039;
}