$green: #4dc47d;
$dark-green: darken($green, 7%);
$black: #576366;
$blue-Web-Design: #3079ab;
$dark-red-Front-End: #c25975;
$light-red-Rails: #e15258;
$green-ios: #53BBB4;
$green-android: #5cb860;
$purple-php: #7D669E;
$purple-Wordpress: #838CC7;
$orange-Business: #F9845B;