/* Colors */

$black: #333; /* Text color */
$green: #7fc56a; /* Logo color */
$green-dark: darken( $green, 10%); /* Logo color hover */
$grey-text: #8d9aa5; /* Text header color */
$grey-text-dark: #65686c; /* Text hero color */