.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, width 0.3s ease, opacity 0.3s ease;
    border-radius: .125rem;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    position: relative;
    outline: none;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
}

.play-icon {
	width: 10px;
    height: 13px;
    position: relative;
    top: .1px;
    margin-left: 10px;
    fill: #fff;
}