.marketing-layout .form-division .row {
	margin-left: -6px;
	margin-right: -6px;
}

.marketing-layout .form-division .row > [class*="col"] {
	padding-left: 6px;
	padding-right: 6px;
}

/*.marketing-layout .form-division .row .col-6 {
	padding: 0 6px;
}*/