
*,
*:before,
*:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
/**
 * Body customize.
 */
 body {
 	background-color: $bg-body-grey;
 	color: $color-black;
 	font-family: $font-helvetica;
 	line-height: 1.4;
 }