
/* Шрифтовой набор */
$font-helvetica: HelveticaNeueCyr, Helvetica, Arial, sans-serif;
$font-roboto: roboto, helvetica, arial, sans-serif;
$font-monospace: 'Lucida Sans Unicode', menlo, consolas, monaco, monospace;

/* Colors */
$color-black: #384047;

/* Background-colors */
$bg-body-grey: #edeff0;