
/* Нужно проверить насколько это эффективный метод, никогда не подводил меня. */
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Устал убирать в ручную, всегда помогало. */

body {
	margin: 0;
}

/* 
1) Из-за display: block и max-width: 100% обрезается некоторый нативный функционал. Например нельзя родительскому элементу указать text-align: center и чтобы дочерний выровнялся по середине. 
2) max-width: 100%; можно указывать для родительского элемента: .wrapper img { max-width: 100%; }.
*/

/*img {
	max-width: 100%;
	display: block;
}*/

/* Тоже устал убирать в ручную, как правило для разных проектов margin всегда разный, указываю в ручную.*/

h1 {
	margin: 0;
}

/* Можно указывать для родительского элемента: .wrapper a { text-decoration: underline; } — по моему более эффективней, нежели каждый раз убирать подчёркивания для каждой ссылки на странице.*/

a {
	text-decoration: none;
}

/* Провожу исследования, узнаю причины max-width и min-width...*/

.wrapper {
	position: relative;
	max-width: 980px;
	padding-left: 16px;
	padding-right: 16px;
	margin: 0 auto;
}

.wrapper__large { /* For large size wrapper */
	max-width: 1440px;
}

/*Очищение clearfix, на данный момент для меня самый лучший, аналоги вне конкуренции с ним.*/

.wrapper::before,
.wrapper::after {
	content: "";
	display: table;
}

.wrapper::after {
	clear: both;
}

.bg-grey { /* For gray body background */
	background-color: #edeff0;
}

/* Сброс стандартных элементов списков на случай надобности, но как правило нужно смотреть по ситуации. Сейчас занимаюсь исследованием этого вопроса и в скором времени приду к единому консенсусу убирать его, или нет.*/

.nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Сброс 2-ного отступа. Хочу переименовать, так-как название row использует bootstrap, я не хочу что-бы в моём коде фигурировало что-то подобное.*/
.row {
	margin: 0 -16px;
}

.row::before,
.row::after {
	content: "";
	display: table;
}

.row::after {
	clear: both;
}

/* Выравнивание текста по центру. (можно поиграться с названием, потому что похоже на bootstrap, но чтобы меньше символов было).*/

.text-center {
	text-align: center;
}
