
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

h1 {
	margin: 0;
}

.wrapper {
	position: relative;
	max-width: 980px;
	padding-left: 16px;
	padding-right: 16px;
	margin: 0 auto;
}

.wrapper__large { /* For large size wrapper */
	max-width: 1440px;
}

.wrapper::before,
.wrapper::after {
	content: "";
	display: table;
}

.wrapper::after {
	clear: both;
}

.bg-grey { /* For gray body background */
	background-color: #edeff0;
}

.nav {
	list-style: none;
	margin: 0;
	padding: 0;
}