.header__list-item {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    display: inline-block;
    user-select: none;
    white-space: nowrap;
    line-height: 50px;
    margin-left: .9375rem;
    font-weight: bold;
    font-size: .9375rem;
}

@media (min-width: 420px) {
    .header__list-item {
        line-height: 70px;
        margin-left: 1.875rem;
    }
}